.deps
.dirstamp
/ltrace
/libtool
/Makefile
/confdefs.h
/config.h
/config.log
/config.status
/confjTzaTA/
/libtoolT
/libtoolT.tmp
/stamp-h1
/sysdeps/Makefile
/sysdeps/linux-gnu/Makefile
/sysdeps/linux-gnu/alpha/Makefile
/sysdeps/linux-gnu/arm/Makefile
/sysdeps/linux-gnu/cris/Makefile
/sysdeps/linux-gnu/ia64/Makefile
/sysdeps/linux-gnu/m68k/Makefile
/sysdeps/linux-gnu/mips/Makefile
/sysdeps/linux-gnu/ppc/Makefile
/sysdeps/linux-gnu/s390/Makefile
/sysdeps/linux-gnu/sparc/Makefile
/sysdeps/linux-gnu/x86/Makefile
/testsuite/Makefile
/testsuite/ltrace.main/Makefile
/testsuite/ltrace.minor/Makefile
/testsuite/ltrace.torture/Makefile

#### joe made this: http://goel.io/joe

#### c ####
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
